In [1]:
import sys
from pathlib import Path

project_root = Path().resolve().parents[0]
sys.path.append(str(project_root))
from src.data_loader import load_sentiment140

In [2]:
df = load_sentiment140()
df.head()

,text,label,date,user,ids
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",negative,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,1467810369
1,is upset that he can't update his Facebook by ...,negative,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,1467810672
2,@Kenichan I dived many times for the ball. Man...,negative,Mon Apr 06 22:19:53 PDT 2009,mattycus,1467810917
3,my whole body feels itchy and like its on fire,negative,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,1467811184
4,"@nationwideclass no, it's not behaving at all....",negative,Mon Apr 06 22:19:57 PDT 2009,Karoli,1467811193

In [15]:
from src.preprocessing import apply_cleaning
from src.entity_tagger import tag_entities

In [16]:
df_clean = apply_cleaning(df)
df_tagged = tag_entities(df_clean, text_col="text_clean")

In [17]:
df_tagged.head()

,text,label,date,user,ids,text_clean,entities,primary_entity_name,primary_entity_type
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",negative,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,1467810369,"- awww, that's a bummer. you shoulda got david...",[],None,None
1,is upset that he can't update his Facebook by ...,negative,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,1467810672,is upset that he can't update his facebook by ...,[],None,None
2,@Kenichan I dived many times for the ball. Man...,negative,Mon Apr 06 22:19:53 PDT 2009,mattycus,1467810917,i dived many times for the ball. managed to sa...,[],None,None
3,my whole body feels itchy and like its on fire,negative,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,1467811184,my whole body feels itchy and like its on fire,[],None,None
4,"@nationwideclass no, it's not behaving at all....",negative,Mon Apr 06 22:19:57 PDT 2009,Karoli,1467811193,"no, it's not behaving at all. i'm mad. why am ...",[],None,None

In [18]:
df_tagged["primary_entity_name"].value_counts().head(20)

primary_entity_name
beyonce knowles-carter    325
sean carter                52
electric vehicles          13
bitcoin                     3
Name: count, dtype: int64

primary_entity_name
beyonce knowles-carter    325
sean carter                52
electric vehicles          13
bitcoin                     3
Name: count, dtype: int64